body {
	-webkit-font-smoothing: none;
	font-family: 'Arial';
	background-image: url("https://i.postimg.cc/qvGp0YgF/stars.gif");
	background-size: repeat;
	display: grid;
	justify-content: center;
	align-content: center;
}

.title-bar {
	background: linear-gradient(90deg, gold, blue);
}

.pagedoll {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.ads {
	align-self: center;
	justify-self: center;
	place-self: center;
	grid-row: 1 / span 2;
	grid-column: 1 / span 3;

	justify-content: center;
	margin-bottom: 25px;
	max-width: 350px;
}

.disclaimer {
	grid-row: 3 / span 1;
	grid-column: 2 / span 2;
	
	
	align-self: center;
	justify-self: center;
	place-self: center;
}